################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dotNet/sample/RemootionSample/appsettings.local.json
